.form-type-radios.form-item-page-images {
  float: left;
  width: 100%
}
#edit-page-images .form-item {
  float: left;
  margin: 20px;
}
#edit-page-images .form-item img,
#edit-page-images .form-item input.form-radio {
  vertical-align: top;
}
